$primary-cl: #111b21;
$secondary-cl: #202c33;
$accent-cl: #005c4b;
$font-cl: #e9edef;
$active-cl:#2a3942;
$red-cl:#F4444E;

$title-fs: 2rem;
$subtitle-fs: 1.4rem;
$text-fs: 1.2rem;

.container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: inherit;
}
