@import "../../styles/general.scss";

.box {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    box-sizing: border-box;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.content {
    &__number {
        font-size: $text-fs;
    }
}
