@import "../../styles/general.scss";

.chats {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}

.chatsFeed {
    width: 30%;
    position: relative;
    &__header {
        background-color: $secondary-cl;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        padding: 1rem;
    }
    &__modal {
        position: absolute;
        top: 0;
        left: -500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        transition: all 0.2s;
        background-color: $primary-cl;
        padding-bottom: 1rem;
        border-bottom: 1px solid $active-cl;
    }
    &__feed {
        max-height: 80vh;
        overflow-y: scroll;
        width: calc(100% + 3px);
    }
}

.header {
    &__btn {
        color: $accent-cl;
        cursor: pointer;
        transition: all 0.2s;
        position: relative;
        height: 2rem;
        &:hover {
            scale: 1.2;
        }
    }
}

.modal {
    &__header {
        height: 4rem;
        font-size: $subtitle-fs;
        display: flex;
        align-items: flex-end;
        background-color: $secondary-cl;
        padding: 1rem;
        gap: 2rem;
        font-weight: 500;
        &__icon {
            cursor: pointer;
            color: $accent-cl;
            transition: all 0.2s;
            scale: 1.3;
            &:hover {
                scale: 1.5;
            }
        }
    }
    &__input {
        background-color: $secondary-cl;
        outline: none;
        border: none;
        border-radius: 5px;
        color: $font-cl;
        padding: 0.4rem;
        width: 100%;
        box-sizing: border-box;
        &:focus {
            background-color: $active-cl;
        }
    }
    &__btn {
        padding: 0.4rem 0.8rem;
        border: 1px solid $accent-cl;
        border-radius: 5px;
        font-size: $text-fs;
        background-color: inherit;
        color: $font-cl;
        width: 100%;
        transition: all 0.2s;
        background-color: $accent-cl;
        cursor: pointer;
        // margin-inline: auto;
        &:hover {
            scale: 1.05;
        }
        &:disabled {
            opacity: 0.6;
        }
    }
}

.chatsView {
    width: 70%;
    height: 100%;
}

.burger {
    display: none;
}

@media screen and (max-width: 1000px) {
    .burger {
        display: flex;
        width: 3rem;
        box-sizing: border-box;
        &__header {
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icon {
            color: $font-cl;
            fill: $font-cl;
        }
    }

    .chatsFeed {
        position: absolute;
        top: 5rem;
        background-color: $secondary-cl;
        transition: all 0.2s;
        box-sizing: border-box;
    }
    .chatsView {
        width: 100%;
    }
}
